/* --- Основной контейнер --- */
.CommonContainer {
  display: flex; /* Flexbox для расположения категорий и продуктов */
  gap: 3px; /* Расстояние между секциями */
  padding: 3px;
  border: 1px solid #aaa; /* Рамка вокруг контейнера */
  border-radius: 3px; /* Скругленные углы */
  background-color: #f0f0f0; /* Светло-серый фон */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Легкая тень */
  height: 100%; /* Устанавливаем фиксированную высоту контейнера */
  width: 100%; /* Контейнер занимает всю ширину */
  box-sizing: border-box; /* Учитываем границы и отступы */
}

/* --- Секция продуктов --- */
.productsSection {
  flex: 0 0  100%; 
  max-width: 100%; /* Ограничиваем ширину */
  height: 100%; /* Секция занимает всю высоту контейнера */
  border: 1px dashed #4CAF50; /* Зелёная пунктирная рамка */
  background-color: #fff3e0; /* Светло-оранжевый фон */
  padding: 0.5%;
  box-sizing: border-box; /* Учитываем padding в ширине */
}
.productsSection h3 {
 text-align: center;
 font-size: 1.5rem;
}

/* Таблица продуктов */
.productsSection table {
  width: 100%;
  border-collapse: collapse;
}

.productsSection table thead th {
  position: sticky; /* Фиксирует элемент */
  top: 0; /* Устанавливает расстояние от верхней границы */
  z-index: 2; /* Устанавливает приоритет отображения над другими элементами */
  background-color: #fff3e0; /* Светло-оранжевый фон */
  border-bottom: 2px solid #4CAF50; /* Добавляет нижнюю границу для отделения */
  padding: 0.5rem; /* Отступ внутри ячеек */
  text-align: center; /* Выравнивание текста */
}

.productsSection table tbody {
  display: block; /* Устанавливаем блочный уровень для tbody */
  height: calc(88vh - 3cm); /* Устанавливаем относительную высоту (80% от родителя) */
  overflow-y: auto; /* Добавляем вертикальную прокрутку */
  width: 100%; /* Устанавливаем ширину для выравнивания с заголовком */
}
.productsSection table thead,
.productsSection table tbody tr {
  display: table; /* Табличный уровень для правильного выравнивания */
  width: 100%; /* Соответствие ширины таблицы */
  table-layout: fixed; /* Фиксированный макет */
}

.productsSection table tbody td {
  padding: 0.5%;
  text-align: left;
  border-bottom: 1px solid #ddd; /* Разделительная линия */
}

.productsSection td {
  padding: 0.5%;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.productsSection tr:hover {
  background-color: #f0f0f0; /* Светло-серый фон при наведении */
}

.productsSection tr.active {
  background-color: #c9bee9; /* Фон для активной строки */
}
/* Контейнер для кнопки добавления */
.add-product-container {
  display: flex;
  justify-content: flex-end; /* Перемещает кнопку вправо */
  align-items: center; /* Выравнивает кнопку по центру вертикали */ 
}

.add-product-btn {
  padding: 0.1rem 0.5rem;
  background-color: #7eaadf;  
  font-size: 1.5rem;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-product-btn:hover {
  background-color:  #007bff;
}

.delete-product-btn {
  background: none;
  border: none;
  color: red;
  font-size: 1.5rem;
  cursor: pointer;
  outline: none;
}

.delete-product-btn:hover {
  color: darkred;
}

/* Изображение продукта */
.product-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}

/* Таблица продуктов */
.productsSection td {
  padding: 0.5%;
  text-align: left;
  border-bottom: 1px solid #ccc;
}